h1 
  = t("searches.welcome")

  = form_tag('/searches') do
    = text_field_tag 'query', '', size: 75
    = submit_tag "Find!", data: { disable_with: "Searching..." }
  - @presenter[:categories].each do |category|
    = button_to(t("categories.#{category}"), searches_path + "?category=#{category}")
  
  = button_to("Random!", searches_path + "?option=random")
